recursive-include usecases_synthetic/config *.yaml
recursive-include usecases_synthetic/pools *.csv *.json
recursive-include usecases_synthetic/statistics *.md
recursive-include usecases_synthetic/third_party *.md LICENSE LICENSE*
recursive-include usecases_synthetic/usecases *
include usecases_synthetic/OVERVIEW.md
include usecases_synthetic/PIPELINE.md
include usecases_synthetic/README.md
